input {
    border-radius: 2px;
    padding: 5px 25px;
}

.button-default {
    background-color: #22262A;
    border: #22262A 1px solid;
    color: #FFFFFF;
}

.button-default:hover {
    background-color: #13161A;
    border: #13161A 1px solid;
}

.button-default:focus {
    outline: none;
}

.button-default-white {
    background-color: #FFFFFF;
    color: #22262A;
    border: #22262A 1px solid;
}

.button-default-white:focus {
    outline: none;
}

.button-default-blur {
    background-color: rgba(112, 112, 112, 0.1);
    color: #22262A;
}

.button-default-blur:focus {
    outline: none;
}

.button-primary {
    color: white;
    background-color: #33A0FF;
    border: #33A0FF 1px solid;
}

.button-primary:hover {
    background-color: #2E90E5;
    border: #2E90E5 1px solid;
}

.button-primary:focus {
    outline: none;
}

.button-primary-white {
    background-color: #FFFFFF;
    color: #33A0FF;
    border: #33A0FF 1px solid;
}

.button-primary-white:focus {
    outline: none;
}

.button-primary-blur {
    background-color: rgba(51, 160, 255, 0.1);
    color: #33A0FF;
}

.button-primary-blur:focus {
    outline: none;
}
.button-danger {
    color: white;
    background-color: #FF4858;
    border: #FF4858 1px solid;
}

.button-danger:hover {
    background-color: #F53848;
    border: #F53848 1px solid;
}

.button-danger:focus {
    outline: none;
}

.button-danger-white {
    background-color: #FFFFFF;
    color: #FF4252;
    border: #FF4252 1px solid;
}

.button-danger-white:focus {
    outline: none;
}

.button-danger-blur {
    background-color: rgba(255, 72, 88, 0.1);
    color: #FF4252;
}

.button-danger-blur:focus {
    outline: none;
}

.button-success {
    color: white;
    background-color: #0AD00A;
    border: #0AD00A 1px solid;
}

.button-success:hover {
    background-color: #07C107;
    border: #07C107 1px solid;
}

.button-success:focus {
    outline: none;
}

.button-success-white {
    background-color: #FFFFFF;
    color: #0AD00A;
    border: #0AD00A 1px solid;
}

.button-success-white:focus {
    outline: none;
}

.button-success-blur {
    background-color: rgba(10, 208, 10, 0.1);
    color: #0AD00A;
}

.button-success-blur:focus {
    outline: none;
}



.button-warning {
    color: black;
    background-color: #FFC600;
    border: #FFC600 1px solid;
}

.button-warning:hover {
    background-color: #EBB600;
    border: #EBB600 1px solid;
}

.button-warning:focus {
    outline: none;
}

.button-warning-white {
    background-color: #FFFFFF;
    color: #FFC600;
    border: #FFC600 1px solid;
}

.button-warning-white:focus {
    outline: none;
}

.button-warning-blur {
    background-color: rgba(255, 198, 0, 0.1);
    color: #FFC600;
}

.button-warning-blur:focus {
    outline: none;
}

.button-large {
    padding: 10px 50px;
}

/* #button-ouline {
    background-color: #eb747a;
} */