input {
    border-radius: 2px;
    padding: 5px 25px;
    border: #707070;
}

.button-default {
    background-color: #22262A;
    color: #FFFFFF;
}

.button-default:hover {
    background-color: #13161A;
}

.button-default:focus {
    outline: none;
}

.button-primary {
    color: white;
    background-color: #33A0FF;
}

.button-primary:hover {
    background-color: #2E90E5;
}

.button-primary:focus {
    outline: none;
}

/* .button-primary:active {
    box-shadow: inset 0px 0px 10px #2f2f2f;
    background-color: #0357b8;
} */

.button-danger {
    color: white;
    background-color: #FF4858;
}

.button-danger:hover {
    background-color: #F53848;
}

.button-danger:focus {
    outline: none;
}

/* .button-danger:active {
    box-shadow: inset 0px 0px 10px #2f2f2f;
    background-color: #9e343a;
} */

.button-success {
    color: white;
    background-color: #0AD00A;
}

.button-success:hover {
    background-color: #07C107;
}

.button-success:focus {
    outline: none;
}

/* .button-success:active {
    box-shadow: inset 0px 0px 10px #2f2f2f;
    background-color: #3e793d;
} */



.button-warning {
    color: black;
    background-color: #FFC600;
}

.button-warning:hover {
    background-color: #EBB600;
}

.button-warning:focus {
    outline: none;
}

/* .button-warning:active {
    box-shadow: inset 0px 0px 5px #2f2f2f;
    background-color: #c89e3a;
} */

.button-large {
    padding: 10px 50px;
}

/* #button-ouline {
    background-color: #eb747a;
} */