form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.input-small, .input-medium, .input-large {
    border: 1px solid #F1F3F4;
    font-size: 14px;
}

.input-small {
    padding: 6px 25px 6px 6px;
}

.input-medium {
    padding: 8px 30px 8px 8px;
}

.input-large {
    padding: 10px 35px 10px 10px;
}

.label {
    font-size: 14px;
    margin-left: 2px;
}